<h2>Your invoices</h2>
<%= link_to 'Create new invoice', new_invoice_path, remote: true %>
<% @invoices.each do |invoice| %>
  <ul>
    Invoice number: <%= invoice.id %>
    Invoice date: <%= invoice.date %>
    Invoice due date: <%= invoice.due_date %>
    <%= link_to "View invoice #{invoice.id}", invoice_path(invoice.id) %>
    <%= link_to "Pay Invoice #{invoice.id}", new_payment_path(record: invoice.id) if !invoice.paid_for? %>
  </ul>
<% end %>

<h2>Your customers</h2>
<%= link_to 'Add new customer', new_customer_path %>
<% @customers.each do |customer| %>
  <ul>
    Company name: <%= customer.name %>
    Organisation number: <%= customer.organisation_number %>
    Address: <%= customer.address %>
    Postcode: <%= customer.postcode %>
    City: <%= customer.city %>
  </ul>
<% end %>

<h2>Your article</h2>
<%= link_to 'Add new article', new_article_path %>
<% @articles.each do |article| %>
  <ul>
    Name: <%= article.name %>
    Unit: <%= article.unit %>
    Unit_price: <%= article.unit_price %>
    taxrate: <%= article.taxrate %>
  </ul>
<% end %>